:root {
	--white: #fbfbff;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

/* // The base font-size is set at 62.5% for having the convenience */
/* // of sizing rems in a way that is similar to using px: 1.6rem = 16px */
html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	margin: 0;
	font-size: 1.6em;
	font-weight: 300;
	letter-spacing: 0.01em;
	line-height: 1.6;
	font-family: "Open Sans", sans-serif;
	overflow-x: hidden;
	font-family: "Raleway", "Open Sans", sans-serif;
}

/* // Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
	letter-spacing: -0.1rem;
	margin-bottom: 2rem;
	margin-top: 0;
}

h1 {
	font-size: 4.6rem;
	line-height: 1.2;
	letter-spacing: 0.03rem;
	z-index: 1;
}

h2 {
	font-size: 3.6rem;
	line-height: 1.25;
}

h3 {
	font-size: 2.8rem;
	letter-spacing: 0.02rem;
	line-height: 1.3;
	z-index: 1;
}

h4 {
	font-size: 2.2rem;
	letter-spacing: -0.08rem;
	line-height: 1.35;
}

h5 {
	font-size: 1.8rem;
	letter-spacing: -0.05rem;
	line-height: 1.5;
}

h6 {
	font-size: 1.6rem;
	letter-spacing: 0;
	line-height: 1.4;
}

.bold {
	font-weight: 600;
}
.header--image {
	background: linear-gradient(
			to top,
			rgba(0, 4, 40, 0.91),
			rgba(0, 78, 146, 0.9)
		),
		url(bg.jpg) center center no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--white);
}
/* .header--image:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to top, #000428, #004e92);
	opacity: 0.7; 
} */

.header--heading1 {
	padding: 0.2em;
	text-align: center;
}
.header--heading3 {
	padding: 0.5em;
	text-align: center;
}

a {
	text-decoration: none;
	color: var(--white);
}

nav {
	position: fixed;
	width: 100%;
	line-height: 60px;
}

nav ul {
	line-height: 60px;
	list-style: none;
	background: rgba(0, 0, 0, 0);
	overflow: hidden;
	color: var(--white);
	padding: 0;
	text-align: right;
	margin: 0;
	padding-right: 40px;
}

nav.black ul {
	background: #000;
}

nav ul li {
	display: inline-block;
	padding: 16px 40px;
}

nav ul li a {
	text-decoration: none;
	color: var(--white);
	font-size: 16px;
	z-index: 1;
}

nav ul li a:hover {
	text-shadow: 0px 0px 20px var(--white);
	transition: 0.5s;
}
.menu-icon {
	line-height: 60px;
	width: 100%;
	background: #000;
	text-align: right;
	box-sizing: border-box;
	padding: 15px 24px;
	cursor: pointer;
	color: var(--white);
	display: none;
}

.header--button {
	padding: 0.8em;
	border-radius: 0.6em;
	background-color: var(--white);
	color: black;
	margin-top: 0.5em;
	text-align: center;
	text-decoration: none;
}

.header--button:hover {
	background-color: #d6d6db;
	transition: 0.5s;
}

.about {
	padding: 3em;
	background-color: var(--white);
}

.about--me {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#about--header {
	padding: 1.1em 0;
	color: #000428;
}

#about--header:hover {
	color: #da4167;
	transition: 0.5s ease;
}

#about--img {
	margin-bottom: 3em;
	grid-area: img;
	justify-self: center;
	align-self: center;
	width: 210px;
	border-radius: 5%;
	height: auto;
	max-width: 230px;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.container {
	margin: 0 auto;
	position: relative;
	max-width: 100vw;
	width: 80vw;
}

#about--grid {
	display: grid;
	grid-template-columns: 25% 1fr;
	grid-template-areas:
		"img text1"
		"img text2"
		"img text3"
		"img text4"
		"img text5"
		"img text6";
	grid-gap: 5px;
	align-items: center;
}

img.grayscale {
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	transition: 0.5s;
	-webkit-transition: -webkit-filter 1s;
}

img.grayscale:hover {
	filter: none;
	-webkit-filter: grayscale(0%);
	transition: 0.5s;

	-webkit-transition: filter 1s;
}

#about--text1 {
	grid-area: text1;
}

#about--text3 {
	grid-area: text3;
}
#about--text4 {
	grid-area: text4;
}
#about--text5 {
	grid-area: text5;
}
#about--text6 {
	grid-area: text6;
}

.about--text {
	text-align: justify;
	color: #000428;
}

.projects {
	padding: 3em;
	background-color: var(--white);
}

#projects--header {
	text-align: center;
	padding: 1.1em 0;
}

.projects--grid {
	display: grid;
	grid-template-columns: 40% 1fr;
	grid-template-areas:
		"mock1 desc1"
		"mock2 desc2"
		"mock3 desc3"
		"mock4 desc4";
	align-items: center;
	justify-items: center;
	grid-gap: 2em;
}

.projects--img {
	width: 500px;
	max-width: 500px;
	height: auto;
}

#mock1 {
	grid-area: mock1;
}
#mock2 {
	grid-area: mock2;
}
#mock3 {
	grid-area: mock3;
}
#mock4 {
	grid-area: mock4;
}

#desc1 {
	grid-area: desc1;
}
#desc2 {
	grid-area: desc2;
}
#desc3 {
	grid-area: desc3;
}
#desc4 {
	grid-area: desc4;
}

.projects--link {
	color: black;
	display: block;
	padding: 1px 15px;
	border: 1px solid #000428;
	border-radius: 5em;
	font-size: 20px;
	margin-right: 5px;
}
.projects--link:hover {
	background-color: #000428;
	color: var(--white);
}

.projects--group {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.projects--links {
	display: flex;
}

.contact--anchor {
	color: black;
}

#contact--header {
	text-align: center;
	padding: 0.5em 0;
	padding-top: 2em;
}

.contact--atag {
	color: #000428;
	display: inline-block;
	padding: 1px 15px;
	border: 1px solid #000428;
	border-radius: 5em;
	font-size: 2em;
	margin-right: 5px;
}

.contact--atag:hover {
	background-color: #000428;
	color: var(--white);
}

.contact--links {
	text-align: center;
	margin-bottom: 60px;
}

#contact {
	display: flex;
	flex-direction: column;
	justify-items: center;
}
